@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  --secondary-color: 67, 83, 255;
  --primary-color: 32, 33, 36;
  --red-color: 216, 80, 70;
  --border-color: #f0f0f0;
  --border-radius: 0.25rem;
  --white-color: #fff;
  --theme-opacity-highlight: 0.06;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(var(--white-color));
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  height: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
}

.content {
  max-width: 500px;
  width: 100%;
  min-height: 80%;
  height: max-content;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

a,
button {
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
}

a {
  color: rgb(var(--primary-color));
  box-sizing: border-box;
  position: relative;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 30px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
}

main {
  max-width: 500px;
  width: 100%;
  border: 1px solid #ccc;
  min-height: 80%;
  height: max-content;
  padding: 1rem;
  border-radius: var(--border-radius);
}
a:hover {
  color: rgb(var(--secondary-color));
  transition: color 0.3s ease-in-out;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
button,
input,
label {
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 1rem;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.form-control {
  margin-bottom: 1rem;
  height: 2.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  border-color: var(--border-color);
  padding: 0.5rem;
}

.form-control:focus {
  outline: none;
  border-color: rgb(var(--secondary-color));
  transition: border-color 0.3s ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 2.5rem;
  border: none;
  border-radius: var(--border-radius);
  color: var(--white-color);
  background-color: rgb(var(--primary-color));
  text-transform: capitalize;
}

.button:hover {
  background-color: rgb(var(--secondary-color));
  transition: background-color 0.3s ease-in-out;
}

.new-city {
  display: flex;
  width: max-content;
  flex-direction: row;
  justify-content: space-between;
  color: rgb(var(--primary-color));
  align-items: center;
  font-size: 1rem;
  gap: 0.5rem;
  height: 2.5rem;
}
.new-city:hover {
  background-color: rgba(var(--primary-color), var(--theme-opacity-highlight));
  transition: background-color 0.3s ease-in-out;
}

.header-left {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  width: 100px;
  padding-left: 16px;
}

.disabled {
  cursor: progress;
  opacity: 0.5;
}

.cities {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  position: relative;
}

.city {
  display: grid;
  grid-template-columns: 1fr 120px;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.city .details {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-align: start;
  font-weight: 400;
}
.city:hover {
  cursor: pointer;
  background-color: #f5f5f5;
  transition: background-color 0.3s ease-in-out;
}

.city p {
  text-transform: capitalize;
}

.actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.actions .delete {
  color: rgb(var(--red-color));
  width: max-content;
}
.actions .delete:hover {
  border: none;
  transition: border 0.3s ease-in-out;
  background: rgba(var(--red-color), var(--theme-opacity-highlight));
}

.loader {
  width: 20px;
  height: 20px;
  border: 4px solid #fff;
  border-bottom-color: rgb(var(--secondary-color));
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  height: 60px;
  min-width: 350px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 90px;
}

footer {
  width: 100%;
  height: 90px;
}
footer a {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .links {
  display: grid;
  grid-template-columns: repeat(3, max-content);
}
footer .links a {
  width: 30px;
}

footer .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  height: 90px;
  width: 100%;
  /* sticky floating footer */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--white-color);
  padding: 0 1rem;
  border-top: 2px solid var(--border-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
/* mobile screen */

@media (max-width: 500px) {
  #app {
    padding: 1rem;
  }
  main {
    border: none;
    padding: 0;
  }
  nav {
    border-bottom: 1px solid var(--border-color);
  }
  .scroll {
    overflow-x: scroll;
  }
  .cities {
    width: 450px;
  }
  footer .wrapper {
    justify-content: center;
    padding: 1rem 0;
    height: max-content;
    text-align: center;
    flex-wrap: wrap-reverse;
  }
}
